body {
  background-image: url(./pexels-ruvim-3560044.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* ANIMATION DE LA PLUIE */
.rain {
  position: absolute;
  background: rgba(47, 46, 85, 0.7);
  opacity: 0.5;
  animation: anim 4s;
}

@keyframes anim {
  to {
    top: 1000px;
    opacity: 1;
  }
}

#current_date {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin: 0 auto;
  background-color: rgb(0, 174, 255, 0.3);
  font-size: 1.5rem;
  color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.container {
  display: grid;
  grid-template-columns: 25% 25% 50%;
  align-items: center;
  justify-items: stretch;
  justify-content: center;
}

a,
a:visited {
  color: wheat;
  text-decoration: none;
  transition: 0.3s;
  position: relative;
  z-index: 100;
  font-size: 1rem;
}
a:hover {
  font-size: 1.3rem;
  color: rgb(2, 72, 72);
}

.box-container {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin: 0 auto;
}

#gif {
  width: 90%;
  border-radius: 20px;
  color: whitesmoke;
  text-align: center;
  padding: 20px;
  margin: 20px auto;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(244, 217, 244, 0.5);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.giphy-embed {
  width: 100%;
  padding: 20px 30px 20px 0;
}

.form-control {
  border-radius: 10px;
  outline: none;
  padding: 10px;
  text-align: center;
  width: 200px;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.form-container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  border-radius: 10px;
  outline: none;
  background-color: rgba(15, 15, 36, 0.4);
  color: whitesmoke;
  font-weight: bold;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  width: 200px;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

button:hover {
  background-color: whitesmoke;
  color: rgba(15, 15, 36, 0.4);
}

#box {
  border-radius: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(241, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.eclairciesIcon {
  background-image: url(./eclaircies.png);
  background-size: cover;
}
.nuageuxIcon {
  background-image: url(./nuageux.png);
  background-size: cover;
}
.soleilIcon {
  background-image: url(./soleil.png);
  background-size: cover;
}
.brumeIcon {
  background-image: url(./brouillard.png);
  background-size: cover;
}
.orageIcon {
  background-image: url(./orage.png);
  background-size: cover;
}
.pluieIcon {
  background-image: url(./pluie.png);
  background-size: cover;
}
.neigeIcon {
  background-image: url(./neige.png);
  background-size: cover;
}

.city {
  background-color: rgb(5, 135, 135, 0.4);
}

.temp {
  background-color: rgb(116, 248, 204, 0.4);
}

.humidity {
  background-color: rgb(89, 243, 243, 0.4);
}

.wind {
  background-color: rgb(180, 179, 179, 0.4);
}

.description {
  background-color: rgba(142, 142, 240, 0.4);
}

/********** MEDIA QUERIES ***************/

/* Tablette */
@media (max-width: 1300px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  #gif {
    width: 50%;
  }
}

/* Mobiles */
@media (max-width: 700px) {
  .box-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    width: 80%;
  }
  .draw {
    display: none !important;
  }
}

@media (max-width: 500px) {
  #current_date {
    width: 80%;
  }
  .giphy-embed {
    width: 100%;
    padding: 0 30px 0 0;
  }
}
